<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seznam tříd</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" href="/css/skeleton.css" th:href="@{/css/skeleton.css}">
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<main class="container">
    <h1>Seznam tříd</h1>
    <table class="u-full-width">
        <thead>
        <tr>
            <th>Třída</th>
        </tr>
        </thead>
        <tbody th:each="trida: ${tridy}">
        <tr>
            <td><a href="text" th:href="@{/(id=${trida.id})}" th:text="${trida.nazev}">Název třídy</a></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
